body{
    font-family:'Roboto' , sans-serif;
}
#bg{
    background-color:cornflowerblue;
    height:150px;
}
.jumbotron{
    margin-bottom:-2rem;   
}

#imagecard{
   position:absolute;
    z-index:1;
    left:50px;
    bottom:350px; 
    background-color: transparent;
    border-color: transparent;
    color:snow; 
}
/* transform: rotate(3.0deg); */
#title{
    position:relative;
    top:20px;
    width:400px;
    color:snow;
}
#welcomeimg{
    width:1600px;
    height:500px;
    object-fit: cover;
    bottom:1100px;
    z-index: -1;
}
header{
    margin:0px;
    position:relative;
    bottom:20px;
}
.tabs{
    color:snow;
    position:relative;
    bottom:20px;
}
#cuslist{
    margin:0px;
    position:relative;
    width:300px;
    bottom:170px;
    left:550px;
}
#clist{
    position: relative;
    top:200px;
}
#home{
    width:100px
}
#list{
    position:relative;
    left:500px;
    top:75px;
}
/*.tabs{
    display:grid;
    grid-template-columns:200px 200px 150px;
    text-align:center;
    position:relative;
    top:50px;
    left:550px;
}*/
.image{
    margin:0px;
    position:relative;
    background-image: url("bank.jpg");
    background-size:contain;
    background-repeat: no-repeat;
    height:200px;
    width:400px;
    left:1100px;
    bottom:200px;
}
#firtext{
    margin:0px;
    position:relative;
    left:490px;
    top:45px;
    width:500px;
}
#clistbut{
    position:relative;
    left:580px;
    top:70px;
    width:150px;
}

#dashcard{
    position: relative;
    left:300px;
    top:150px;
}
#dashimg{
    height:250px;
    object-fit: cover;
}
#transfercard{
    position:relative;
    left:800px;
    bottom:307px;
}
#transferimg{
    height:255px;
    position:relative;
    bottom:2px;
    object-fit:cover;
}
#tabl{
    width:47.5%;
    position:relative;
    left:300px;
    bottom:100px; 
}

#transtable{
    position:relative;
    width:60%;
    top:100px;
    left:16%;
    text-align: center;
}
#t{
   width:200px;
}
#heading{
    height:2px;
    text-align: center;
}
#fom{
    position:relative;
    top:100px;
}

#copyright{
    background-color: grey;
    height:70px;
}
.text1{
    position:relative;
    left:650px;
    height:10px;
    top:10px;
}
.text2{
    position:relative;
    left:670px;
    top:10px;
}

#translist{
    position:relative;
    top:10px;
    text-align:center;
}

#reviewtab{
    width:50px;
    position:relative;
    top:50px;
}
#review{
    position:relative;
    left:100px;
    top:50px;
}

#sucalert{
    display:none;
}